-- Enabling the replication database
use master
exec sp_replicationdboption @dbname = N'miCareer_DB', @optname = N'publish', @value = N'true'
GO

exec [miCareer_DB].sys.sp_addlogreader_agent @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
GO
-- Adding the transactional publication
use [miCareer_DB]
exec sp_addpublication @publication = N'pub_micareer_saigon', @description = N'Transactional publication of database ''miCareer_DB'' from Publisher ''lanestra\HANOI_NODE''.', @sync_method = N'concurrent', @retention = 0, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @repl_freq = N'continuous', @status = N'active', @independent_agent = N'true', @immediate_sync = N'true', @allow_sync_tran = N'false', @autogen_sync_procs = N'false', @allow_queued_tran = N'false', @allow_dts = N'false', @replicate_ddl = 1, @allow_initialize_from_backup = N'false', @enabled_for_p2p = N'false', @enabled_for_het_sub = N'false'
GO


exec sp_addpublication_snapshot @publication = N'pub_micareer_saigon', @frequency_type = 1, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'LANESTRA\os'
GO
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'NT SERVICE\SQLAgent$HANOI_NODE'
GO
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'NT Service\MSSQL$HANOI_NODE'
GO
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'pub_micareer_saigon', @login = N'distributor_admin'
GO

-- Adding the transactional articles
use [miCareer_DB]
exec sp_addarticle @publication = N'pub_micareer_saigon', @article = N'Company', @source_owner = N'dbo', @source_object = N'Company', @type = N'logbased', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000000803509F, @identityrangemanagementoption = N'none', @destination_table = N'Company', @destination_owner = N'dbo', @status = 24, @vertical_partition = N'false', @ins_cmd = N'CALL [sp_MSins_dboCompany]', @del_cmd = N'CALL [sp_MSdel_dboCompany]', @upd_cmd = N'SCALL [sp_MSupd_dboCompany]', @filter_clause = N'[provId] IN (SELECT [provId] FROM [Province] WHERE [nodeCode] = ''SAIGON_NODE'')'

-- Adding the article filter
exec sp_articlefilter @publication = N'pub_micareer_saigon', @article = N'Company', @filter_name = N'FLTR_Company_1__65', @filter_clause = N'[provId] IN (SELECT [provId] FROM [Province] WHERE [nodeCode] = ''SAIGON_NODE'')', @force_invalidate_snapshot = 1, @force_reinit_subscription = 1

-- Adding the article synchronization object
exec sp_articleview @publication = N'pub_micareer_saigon', @article = N'Company', @view_name = N'SYNC_Company_1__65', @filter_clause = N'[provId] IN (SELECT [provId] FROM [Province] WHERE [nodeCode] = ''SAIGON_NODE'')', @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [miCareer_DB]
exec sp_addarticle @publication = N'pub_micareer_saigon', @article = N'Province', @source_owner = N'dbo', @source_object = N'Province', @type = N'logbased', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000000803509F, @identityrangemanagementoption = N'none', @destination_table = N'Province', @destination_owner = N'dbo', @status = 24, @vertical_partition = N'false', @ins_cmd = N'CALL [sp_MSins_dboProvince]', @del_cmd = N'CALL [sp_MSdel_dboProvince]', @upd_cmd = N'SCALL [sp_MSupd_dboProvince]', @filter_clause = N'[nodeCode] = ''SAIGON_NODE'''

-- Adding the article filter
exec sp_articlefilter @publication = N'pub_micareer_saigon', @article = N'Province', @filter_name = N'FLTR_Province_1__65', @filter_clause = N'[nodeCode] = ''SAIGON_NODE''', @force_invalidate_snapshot = 1, @force_reinit_subscription = 1

-- Adding the article synchronization object
exec sp_articleview @publication = N'pub_micareer_saigon', @article = N'Province', @view_name = N'SYNC_Province_1__65', @filter_clause = N'[nodeCode] = ''SAIGON_NODE''', @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [miCareer_DB]
exec sp_addarticle @publication = N'pub_micareer_saigon', @article = N'User', @source_owner = N'dbo', @source_object = N'User', @type = N'logbased', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000000803509F, @identityrangemanagementoption = N'none', @destination_table = N'User', @destination_owner = N'dbo', @status = 24, @vertical_partition = N'false', @ins_cmd = N'CALL [sp_MSins_dboUser]', @del_cmd = N'CALL [sp_MSdel_dboUser]', @upd_cmd = N'SCALL [sp_MSupd_dboUser]', @filter_clause = N'[provId] IN (SELECT [provId] FROM [Province] WHERE [nodeCode] = ''SAIGON_NODE'')'

-- Adding the article filter
exec sp_articlefilter @publication = N'pub_micareer_saigon', @article = N'User', @filter_name = N'FLTR_User_1__65', @filter_clause = N'[provId] IN (SELECT [provId] FROM [Province] WHERE [nodeCode] = ''SAIGON_NODE'')', @force_invalidate_snapshot = 1, @force_reinit_subscription = 1

-- Adding the article synchronization object
exec sp_articleview @publication = N'pub_micareer_saigon', @article = N'User', @view_name = N'SYNC_User_1__65', @filter_clause = N'[provId] IN (SELECT [provId] FROM [Province] WHERE [nodeCode] = ''SAIGON_NODE'')', @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO

